<header class="bg-main text-white shadow-md fixed w-full z-50">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
    <a href="#home" class="text-2xl font-bold text-primary">Julian.Dev</a>
    <nav class="hidden md:flex gap-6 font-medium">
      <a href="#home" class="hover:text-primary">Inicio</a>
      <a href="#about" class="hover:text-primary">Sobre Mi</a>
      <a href="#projects" class="hover:text-primary">Proyectos</a>
      <a href="#contact" class="hover:text-primary">Contactame</a>
    </nav>
  </div>
</header>


