<section id="about" class="bg-main py-16 px-6 pt-28 text-white">
    <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center gap-12">
        <img src="assets/Julian4.jpg" alt="Foto de Julian" class="w-80 h-80 rounded-full border-4 border-primary shadow-lg object-cover"/>
             
        <div>
            <h3 class="text-3xl font-bold mb-4 text-primary underline">Sobre Mí</h3>

            <p>
                ¡Hola! Te cuento un poco sobre mi: Tengo 24 años y resido en Argentina, Cordoba Capital.
            </p>
            <br>
            <p>
                Soy <strong>Técnico Superior en Desarrollo de Software</strong>, egresado en 2024 del Instituto Técnico
                Superior Cordoba.
            </p>
            <br>
            <p>
                Prefiero y disfruto el desarrollo backend y la manipulacion de bases de datos, sin embargo no le cierro
                las puertas al desarrollo en el frontend.
            </p>
            <br>
            <p>
                Me destaco por ser una persona autodidacta, responsable y con gran capacidad para adaptarme a nuevos
                entornos. Disfruto trabajar en equipo y enfrentar desafíos técnicos que me permitan seguir creciendo.
            </p>
            <a href="assets/JulianFernandez-CV.pdf" download
                class="mt-4 inline-block bg-primary hover:bg-yellow-500 text-black px-4 py-2 rounded font-semibold transition">
                DESCARGA MI CV
            </a>
        </div>
    </div>

    <div class="bg-customGrey p-8 rounded-3xl shadow text-center">
        <h4 class="font-bold text-xl mb-4">Tecnologías:</h4>
        <div class="flex flex-wrap gap-6 justify-center">
            <div class="flex flex-col items-center hover:scale-110 shrink-0">
                <img src="assets/icons/html5.svg">
                <span>HTML5</span>
            </div>
            <div class="flex flex-col items-center hover:scale-110 shrink-0">
                <img src="assets/icons/css.svg">
                <span>CSS</span>
            </div>
            <div class="flex flex-col items-center hover:scale-110 shrink-0">
                <img src="assets/icons/net.svg">
                <span>.NET</span>
            </div>
            <div class="flex flex-col items-center hover:scale-110 shrink-0">
                <img src="assets/icons/efCore.svg">
                <span>EF Core</span>
            </div>
            <div class="flex flex-col items-center hover:scale-110 shrink-0">
                <img src="assets/icons/sqlServer.svg">
                <span>SQL Server</span>
            </div>
            <div class="flex flex-col items-center hover:scale-110 shrink-0">
                <img src="assets/icons/java.svg">
                <span>Java</span>
            </div>
            <div class="flex flex-col items-center hover:scale-110 shrink-0">
                <img src="assets/icons/cSharp.svg">
                <span>C#</span>
            </div>
            <div class="flex flex-col items-center hover:scale-110 shrink-0">
                <img src="assets/icons/angular.svg">
                <span>Angular</span>
            </div>
            <div class="flex flex-col items-center hover:scale-110 shrink-0">
                <img src="assets/icons/tailwind.svg">
                <span>Tailwind</span>
            </div>
            <div class="flex flex-col items-center hover:scale-110 shrink-0">
                <img src="assets/icons/gitHub.svg">
                <span>GitHub</span>
            </div>
            <div class="flex flex-col items-center hover:scale-110 shrink-0">
                <img src="assets/icons/git.svg">
                <span>Git</span>
            </div>
        </div>
    </div>

</section>
