<section id="home" class="h-screen bg-main text-center flex items-center justify-center">
  <div class="flex flex-col items-center">
    <img src="assets/Julian2.jpg" alt="Foto de Julian" class="w-80 h-80 rounded-full border-4 border-primary shadow-lg object-cover"/>
    <h2 class="text-4xl md:text-5xl font-bold text-white">Julian Ezequiel Fernandez</h2>
    <p class="text-xl mt-2 font-medium text-secondary">Desarrollador de Software</p>

    <div class="mt-6 flex justify-center items-center gap-4">
      <a href="#about"
        class="px-6 py-2 bg-primary hover:bg-yellow-500 rounded-full font-semibold text-black transition">
        Conoceme
      </a>
      <a href="https://github.com/Julian-Eze-Fernandez" target="_blank" rel="noopener noreferrer"
        class="w-10 h-10 bg-white rounded-full flex items-center justify-center hover:bg-gray-400 transition">
        <img src="assets/icons/gith.png" alt="GitHub" class="w-6 h-6" />
      </a>
      <a href="https://www.linkedin.com/in/julian-fernandez16/" target="_blank" rel="noopener noreferrer"
        class="w-10 h-10 bg-white rounded-full flex items-center justify-center hover:bg-gray-400 transition">
        <img src="assets/icons/linkedin.png" alt="LinkedIn" class="w-6 h-6" />
      </a>
    </div>
  </div>
</section>
