<section id="projects" class="bg-main py-16 px-6 pt-28 text-white">
  <div class="max-w-7xl mx-auto">
    <h3 class="text-3xl font-bold text-center text-primary mb-12 underline">Proyectos</h3>
    <div class="grid md:grid-cols-3 gap-8">
      <div *ngFor="let p of [1, 2, 3]" class="bg-card rounded-xl shadow-md p-4 hover:shadow-lg transition">
        <div class="w-full h-48 bg-gray-600 rounded mb-4"></div>
        <h4 class="text-xl font-semibold text-primary">Lucybell</h4>
        <p>Me destaco por ser autodidacta, responsable y con capacidad para adaptarme a nuevos entornos.</p>
      </div>
    </div>
  </div>
</section>

